<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="__PUBLIC__/Admin/images/user.jpg" class="img-circle"
                     alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Thanlon</p>
                <span class="glyphicon glyphicon-map-marker"></span><a href="#"> 在线</a>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="header">管理菜单</li>
            <li class="treeview" id="g-1">
                <a href="#">
                    <span class="glyphicon glyphicon-home"></span>
                    <span>首页</span>
                    <span class="label label-primary pull-right">1</span>
                </a>
                <ul class="treeview-menu" id="g-1-1">
                    <li>
                        <a href="__MODULE__/index/">
                            <span class="glyphicon "></span></span>控制面板
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview" id="g-3">
                <a href="#">
                    <span class="glyphicon glyphicon-gift"></span>
                    <span>商品管理</span>
                    <span class="label label-primary pull-right">3</span>
                </a>
                <ul class="treeview-menu">
                    <li id="g-3-1">
                        <a href="__MODULE__/Goods/lst">
                            <span class="glyphicon "></span>商品列表
                        </a>
                    </li>
                    <li id="g-3-2">
                        <a href="__MODULE__/Cate/lst">
                            <span class="glyphicon"></span>分类列表
                        </a>
                    </li>
                    <li id="g-3-3">
                        <a href="__MODULE__/Attribute/lst">
                            <span class="glyphicon"></span>属性列表
                        </a>
                    </li>
                    <li id="g-3-4">
                        <a href="__MODULE__/brand/lst">
                            <span class="glyphicon"></span>品牌列表
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview" id="g-4">
                <a href="#">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>会员管理</span>
                    <span class="label label-primary pull-right">1</span>
                </a>
                <ul class="treeview-menu">
                    <li id="g-4-1">
                        <a href="__MODULE__/MemberLevel/lst">
                            <span class="glyphicon"></span>会员级别
                        </a>
                    </li>
                    <li id="g-4-2">
                        <a href="__MODULE__/Member/lst">
                            <span class="glyphicon"></span>会员列表
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span>评论管理</span>
                    <span class="label label-primary pull-right">1</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="comment_list.html">
                            <span class="glyphicon"></span> 评论列表
                        </a>
                    </li>
                    <li>
                        <a href="comment_list.html">
                            <span class="glyphicon"></span> 回复列表
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <span class="glyphicon glyphicon-file"></span>
                    <span>订单管理</span>
                    <span class="label label-primary pull-right">1</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="comment_list.html">
                            <span class="glyphicon"></span>订单列表
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>管理员管理</span>
                    <span class="label label-primary pull-right">2</span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="admin_list.html">
                            <span class="glyphicon"></span>权限列表
                        </a>
                    </li>
                    <li>
                        <a href="admin_list.html">
                            <span class="glyphicon"></span>角色列表
                        </a>
                    </li>
                    <li>
                        <a href="admin_list.html">
                            <span class="glyphicon"></span>管理员列表
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>