<!-- 头部上半部分 start 包括 logo、搜索、用户中心和购物车结算 -->
<div class="logo w1210">
    <h1 class="fl"><a href="index.html"><img src="images/logo.png" alt="糖糖花店"></a></h1>
    <!-- 头部搜索 start -->
    <div class="search fl">
        <div class="search_form">
            <div class="form_left fl"></div>
            <form action="" name="serarch" method="get" class="fl">
                <input type="text" class="txt" value="请输入你想要订购的鲜花"/><input type="submit" class="btn" value="搜索"/>
            </form>
            <div class="form_right fl"></div>
        </div>
    </div>
    <!-- 头部搜索 end -->
    <!-- 用户中心 start-->
    <div class="user fl">
        <dl>
            <dt>
                <em></em>
                <a href="">用户中心</a>
                <b></b>
            </dt>
            <dd>
                <div class="prompt">
                    您好，请<a href="">登录</a>
                </div>
                <div class="uclist mt10">
                    <ul class="list1 fl">
                        <li><a href="">用户信息></a></li>
                        <li><a href="">我的订单></a></li>
                        <li><a href="">收货地址></a></li>
                    </ul>

                    <ul class="fl">
                        <li><a href="">我的留言></a></li>
                        <li><a href="">我的评论></a></li>
                    </ul>

                </div>
                <div style="clear:both;"></div>

            </dd>
        </dl>
    </div>
    <!-- 用户中心 end-->

    <!-- 购物车 start -->
    <div class="cart fl">
        <dl>
            <dt>
                <a href="__MODULE__/Index/shoppingCart.html">去购物车结算</a>
                <b></b>
            </dt>
            <dd>
                <div class="prompt">
                    购物车中还没有商品，赶紧选购吧！
                </div>
            </dd>
        </dl>
    </div>
    <!-- 购物车 end -->
</div>
<!-- 头部上半部分 end -->