<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group input-group">
                <input type="text" size="60" class="form-control" placeholder="百合" id="searchArt" style="border-color: #f46;
    border-width: 2px;">
                <span class="input-group-btn">
                        <a class="btn btn-default" id="search" style="border-color: #f46;
    border-width: 1px;background:#f46;color:#FFFFFF; ">搜索</a>
                </span>
            </div>
        </form>
    </div>
    <div class="col-md-3 text-right">
        <a href=""><img src="http://cdn.huaduocai.net/Storage/logo/1/5057119636264957.png" width="130" height="40"></a>
    </div>
</div>
<div class="row" style="margin-top: 20px">
    <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href="#"></a></li>
        <li role="presentation"><a href="#" style="color: #666;">全部鲜花</a></li>
        <li role="presentation"><a href="#" style="color: #666;">爱情鲜花</a></li>
        <li role="presentation"><a href="#" style="color: #666;">生日鲜花</a></li>
        <li role="presentation"><a href="#" style="color: #666;">开业花篮</a></li>
        <li role="presentation"><a href="#" style="color: #666;">永生花</a></li>
        <li role="presentation"><a href="#" style="color: #666;">绿植</a></li>
        <li role="presentation"><a href="#" style="color: #666;">高端鲜花</a></li>
        <li role="presentation"><a href="#" style="color: #666;">精品鲜花</a></li>
    </ul>
    <hr style="border-width:5px;border-top:3px solid #f46;margin-top: 0;margin-bottom:3px;">
</div>