<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全部鲜花</title>
    <include file="Public/blockcss"/>
</head>
<body>
<include file="Public/header"/>
<div class="container">
 <include file="Public/menu"/>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading" style="color:#f46;font-weight: bold;background-color: #fff;">销量排行榜</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <div class="col-md-6">
                            <img src="__PUBLIC__/Home/images/tmp1.jpg" width="50px" alt="1">
                        </div>
                        <div class="col-md-6">
                            <span style="font-size: 12px">一生所爱 </span>
                            <p style="color: #f46;font-size: 12px">￥ 219.00<br>
                                售出38898件</p>
                        </div>
                    </ul>
                    <ul class="list-group" style="margin-top: 20px">
                        <div class="col-md-6">
                            <img src="__PUBLIC__/Home/images/tmp2.jpg" width="50px" alt="1">
                        </div>

                        <div class="col-md-6">
                            <span style="font-size: 12px">天天祝福</span>
                            <p style="color: #f46;font-size: 12px">￥ 219.00<br>
                                售出38898件</p>
                        </div>
                    </ul>
                    <ul class="list-group">
                        <div class="col-md-6">
                            <img src="__PUBLIC__/Home/images/tmp3.jpg" width="50px" alt="1">
                        </div>
                        <div class="col-md-6">
                            <span style="font-size: 12px">爱的小确幸</span>
                            <p style="color: #f46;font-size: 12px">￥ 219.00<br>
                                售出38898件</p>
                        </div>
                    </ul>
                    <ul class="list-group">
                        <div class="col-md-6">
                            <img src="__PUBLIC__/Home/images/tmp4.jpg" width="50px" alt="1">
                        </div>
                        <div class="col-md-6">
                            <span style="font-size: 12px">幸福绽放</span>
                            <p style="color: #f46;font-size: 12px">￥ 219.00<br>
                                售出38898件</p>
                        </div>
                    </ul>
                    <ul class="list-group">
                        <div class="col-md-6">
                            <img src="__PUBLIC__/Home/images/tmp5.png" width="50px" alt="1">
                        </div>
                        <div class="col-md-6">
                            <span style="font-size: 12px">今生至爱 </span>
                            <p style="color: #f46;font-size: 12px">￥ 219.00<br>
                                售出38898件</p>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <ul class="list-group">
                <li class="list-group-item" style="background: #f7f7f7">
                    <span style="color:#f46;font-weight: bold">价格:</span>
                    <a href="javascript:;" class="btn" style="color:#666;font-size: 12px">
                        100~200
                    </a>
                    <a href="javascript:;" class="btn" style="color:#666;font-size: 12px">
                        201~300
                    </a>
                    <a href="javascript:;" class="btn" style="color:#666;font-size: 12px">
                        301~400
                    </a>
                    <a href="javascript:;" class="btn" style="color:#666;font-size: 12px">
                        401~500
                    </a>
                    <a href="javascript:;" class="btn" style="color:#666;font-size: 12px">
                        500元以上
                    </a>
                </li>
                <li class="list-group-item" style="background: #f7f7f7">
                    <span style="color:#f46;font-weight: bold">排序:</span>
                    <a href="javascript:;" class="btn btn-default">
                        价格 <span class="glyphicon glyphicon-arrow-up" style="color: #f46"></span>
                    </a>
                    &nbsp; &nbsp;
                    <a href="javascript:;" class="btn btn-default">
                        价格 <span class="glyphicon glyphicon-arrow-down" style="color: #f46"></span>
                    </a>
                    &nbsp; &nbsp;
                    <a href="javascript:;" class="btn btn-default">
                        销量 <span class="glyphicon glyphicon-arrow-up" style="color: #f46"></span>
                    </a>
                    &nbsp;&nbsp;
                    <a href="javascript:;" class="btn btn-default">
                        销量 <span class="glyphicon glyphicon-arrow-down" style="color: #f46"></span>
                    </a>
                    &nbsp;&nbsp;
                    <a href="javascript:;" class="btn btn-default">
                        时间 <span class="glyphicon glyphicon-arrow-up" style="color: #f46"></span>
                    </a>
                    &nbsp;&nbsp;
                    <a href="javascript:;" class="btn btn-default">
                        时间 <span class="glyphicon glyphicon-arrow-down" style="color: #f46"></span>
                    </a>
                </li>
            </ul>
            <div class="panel-body text-center">
                <div class="col-md-3" style="padding: 5px">
                    <a href="">
                        <img src="__PUBLIC__/Home/images/5.jpg" alt="" class="img-responsive img-thumbnail"
                             data-bd-imgshare-binded="1">
                    </a>
                    <p>情之所至 <span style="color: #f46;font-weight: bold">￥230</span></p>
                </div>
                <div class="col-md-3" style="padding: 5px">
                    <a href="">
                        <img src="__PUBLIC__/Home/images/2.png" alt="" class="img-responsive img-thumbnail"
                             data-bd-imgshare-binded="1">
                    </a>
                    <p>静享慢时光<span style="color: #f46;font-weight: bold">￥230</span></p>
                </div>
                <div class="col-md-3" style="padding: 5px">
                    <a href="">
                        <img src="__PUBLIC__/Home/images/1.jpg" alt="" class="img-responsive img-thumbnail"
                             data-bd-imgshare-binded="1">
                    </a>
                    <p>初心不负<span style="color: #f46;font-weight: bold">￥230</span></p>
                </div>
                <div class="col-md-3" style="padding: 5px">
                    <a href="">
                        <img src="__PUBLIC__/Home/images/2.png" alt="" class="img-responsive img-thumbnail"
                             data-bd-imgshare-binded="1">
                    </a>
                    <p>你的香气<span style="color: #f46;font-weight: bold">￥230</span></p>
                </div>
                <div class="col-md-3" style="padding: 5px">
                    <a href="">
                        <img src="__PUBLIC__/Home/images/6.jpg" alt="" class="img-responsive img-thumbnail"
                             data-bd-imgshare-binded="1">
                    </a>
                    <p>我想您<span style="color: #f46;font-weight: bold">￥230</span></p>
                </div>
                <div class="col-md-3" style="padding: 5px">
                    <a href="">
                        <img src="__PUBLIC__/Home/images/7.jpg" alt="" class="img-responsive img-thumbnail"
                             data-bd-imgshare-binded="1">
                    </a>
                    <p>倾情于你<span style="color: #f46;font-weight: bold">￥230</span></p>
                </div>
                <div class="col-md-3" style="padding: 5px">
                    <a href="">
                        <img src="__PUBLIC__/Home/images/8.jpg" alt="" class="img-responsive img-thumbnail"
                             data-bd-imgshare-binded="1">
                    </a>
                    <p>恋你久久<span style="color: #f46;font-weight: bold">￥230</span></p>
                </div>
                <div class="col-md-3" style="padding: 5px">
                    <a href="">
                        <img src="__PUBLIC__/Home/images/9.jpg" alt="" class="img-responsive img-thumbnail"
                             data-bd-imgshare-binded="1">
                    </a>
                    <p>暖暖的幸福<span style="color: #f46;font-weight: bold">￥230</span></p>
                </div>
            </div>
            <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <include file="Public/bottom"/>
</div>
</body>
<include file="Public/blockjs"/>
</html>