<!DOCTYPE html>
<html>
<head>
    <title>在线鲜花订购系统后台</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <include file="Public/blockcss"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <include file="Public/header"/>
    <include file="Public/menu"/>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>在线鲜花订购系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 商品管理</a></li>
                <li class="active">添加分类</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row" style="">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">分类列表>添加分类</h3>
                        </div>
                        <div class="box-body box-primary">
                            <form action="__SELF__" method="post">
                                <div class="form-group">
                                    <label for="">分类名称</label>
                                    <input type="text" class="form-control" name="cate_name"
                                           placeholder="请输入分类名称">
                                </div>
                                <button type="submit" class="btn btn-primary">添加</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <include file="Public/bottom"/>
    <div class="control-sidebar-bg"></div>
</div>
<include file="Public/blockjs"/>
<script>
    $(document).ready(function () {
        $("#g-3").addClass("active");
        $("#g-3-2").addClass("active");
    });
</script>
<script>
    laydate.render({
        elem: '#firstTime'
        , type: 'datetime'
    });
    laydate.render({
        elem: '#stopTime'
        , type: 'datetime'
    });
</script>
</body>
</html>