<!DOCTYPE html>
<html>
<head>
    <title>在线鲜花订购系统后台</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <include file="Public/blockcss"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <include file="Public/header"/>
    <include file="Public/menu"/>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>在线鲜花订购系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 商品管理</a></li>
                <li class="active">分类列表</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row" style="">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">分类列表</h3>
                            <a href="__MODULE__/Cate/add" class="btn btn-primary pull-right">添加分类</a>
                        </div>
                        <table class="table table-hover text-center" style="margin-top: 5px">
                            <tbody>
                            <tr>
                                <th>id</th>
                                <th>分类名称</th>
                                <th>操作事项</th>
                            </tr>
                            <?php foreach($cateData as $k=>$v): ?>
                            <tr>
                                <td> {$v['id']}</td>
                                <td> {$v['cate_name']}</td>
                                <td>
<!--                                    <a href="<?php echo U('edit?id='.$v['goods_id']);?>"-->
<!--                                       class="label label-success">编辑</a>-->
                                    <a href="<?php echo U('del?id='.$v['id']);?>"
                                       class="label label-danger" onclick="return confirm('确认要删除吗？')">删除</a>
                                </td>
                            </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table>
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <?php echo $page;?>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <include file="Public/bottom"/>
    <div class="control-sidebar-bg"></div>
</div>
<include file="Public/blockjs"/>
<script>
    $(document).ready(function () {
        $("#g-3").addClass("active");
        $("#g-3-2").addClass("active");
    });
</script>
<script>
    laydate.render({
        elem: '#firstTime'
        , type: 'datetime'
    });
    laydate.render({
        elem: '#stopTime'
        , type: 'datetime'
    });
</script>
</body>
</html>